<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>demo1</display-name>

	<!-- 配置一个servlet -->
	<!-- servlet的配置 -->
	<servlet>
		<!-- servlet的内部名称，自定义。尽量有意义 -->
		<servlet-name>HelloWordServlet</servlet-name>
		<!-- servlet的类全名： 包名+简单类名 -->
		<servlet-class>net.yhwl.demo.HelloWordServlet</servlet-class>
	</servlet>
	<!-- servlet的映射配置 -->
	<servlet-mapping>
		<!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
		<servlet-name>HelloWordServlet</servlet-name>
		<!-- servlet的映射路径（访问servlet的名称） -->
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>